API_BASE_URL=http://localhost:8080
API_USERNAME=your_username
API_PASSWORD=your_password
RSS_FEED_URLS=https://example.com/rss

; RSS_FEED_URLS=https://apnews.com/rss,https://news.ycombinator.com/rss
